<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>AI Singularity Petition</title>
    </head>

    <body>
        <div class="allButFooter">
            {{{body}}}
        </div>
        <footer class="footer">© HAL, Inc. 2020</footer>
    </body>
</html>