<div class="overlay">
    <div class="backroundContainer1">
        <div class="arrowsContainer">
            <span id="arrowLx"><a id="href" href="/register">❮ sign petition now</a></span></br></br>
            <span id="arrowDx">&ensp;&ensp;<a href="#moreAboutSingularity">find out more ❯</a></span>
        </div>
    </div>
    <div class="side-menu backroundContainer2" id="moreAboutSingularity">
        <div class="arrowsContainer2" id="aboutSingularity">
            <p id="scrollDown">The aim of this petition is to try to make as many people as possible aware of what the advent of the singularity event is and what this may mean for us and the rest of living beings. </br></br>
                So if you also believe this is a good cause, please help us spread the word, starting by registering and signing this petition.</br></br></br> Thank you!</p>
            <span id="arrow2Lx"><a id="href" href="/register">❮ sign petition now</a></span></br></br>
            <span id="arrow2Dx">&ensp;&ensp; <a href="#text1">more about singularity ❯</a></span>
        </div>
        <div class="arrowsContainer2 blackContainer" id="text1">
            <p class="aiSingularityText">The AI or technological singularity —also, simply, the singularity— is a hypothetical point in time at which technological growth becomes uncontrollable and irreversible, resulting in unforeseeable changes to human civilization.</p>
            <p id="arrowDown"><a href="#text2"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer" id="text2">
            <p class="aiSingularityText aiSingularityText2">The idea that human history is approaching a “singularity”—that ordinary humans will someday be overtaken by artificially intelligent machines or cognitively enhanced biological intelligence, or both—has moved from the realm of science fiction to serious debate. Some singularity theorists predict that if the field of artificial intelligence (AI) continues to develop at its current dizzying rate, the singularity could come about in the middle of the present century. </p>
            <p id="arrowDown"><a href="#text3"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer" id="text3">
            <p class="aiSingularityText">Our aim here is not to make predictions but rather to investigate a range of scenarios. Whether we believe that singularity is near or far, likely or impossible, apocalypse or utopia, the very idea raises crucial philosophical and pragmatic questions, forcing us to think seriously about what we want as a species.</p>
            <p id="arrowDown"><a href="#text4"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer" id="text4">
            <p class="aiSingularityText">Once human-level AI has been achieved, the transition to superintelligent AI could be very rapid. The existence of superintelligent machines could mean for such matters as personhood, responsibility, rights, and identity. Some superhuman AI agents might be created to benefit humankind; some might go rogue. Is Siri the template, or HAL? The singularity presents both an existential threat to humanity and an existential opportunity for humanity to transcend its limitations. Therefore we need to imagine both possibilities if we want to bring about the better outcome.</p>
            <p id="arrowDown"><a href="#text5"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer" id="text5">
            <p class="aiSingularityText">There are people who work in contact with the current state of the art of artificial intelligence and are adamant that our only chance is to join the technology itself, rather than fight it - as we will never have a chance to truly win. </br>For this reason, companies such as <a href="https://neuralink.com/" target="_blank" rel="noopener noreferrer">Neuralink</a> were born, where the aim is precisely to develop a device capable of connecting us directly with technology, thus opening the way and therefore the possibility for humans to transcend their biology.. going beyond themself.</p>
            <p id="arrowDown"><a href="#text6"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer containerOverlay" id="text6">
            <p class="aiSingularityText">Does the event of the singularity really represent a crucial passage for the evolution of the human being or perhaps irremediably our end? In both cases, the need to seriously start thinking about this possibility remains irrefutable and, once we have become aware of it, take the first step in the right direction for the evolution of humanity..</p>
            <p id="arrowDown"><a href="#extraImg1"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer containerOverlay" id="extraImg1">
            <p id="arrowDown"><a href="#extraImg2"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer containerOverlay" id="extraImg2">
            <p id="arrowDown"><a href="#lastPetition"> ▽ </a></p> 
        </div>
        <div class="arrowsContainer2 blackContainer lastContainer" id="lastPetition">
            <span id="lastArrowDown"><a id="href" href="/register">▽ sign petition</a></span></br></br>
            <span id="lastArrowUp">&ensp;&ensp; <a href="#aboutSingularity">back △</a></span>
        </div>
    </div>
</div>

{{! <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  }}
 <script src="/scrollToTop.js"></script>   